/* css styles */

.nav-page .nav-page-text {
  font-size: 15pt;
}

.sidebar-item-text.sidebar-link.text-start {
  color: black;
}

.output-overflow {
max-height: 400px;
overflow-y: scroll;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.center-larger {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.img-border {
  border: 2px solid #555;
}